a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden; }

.ul-move ul {
  padding: 0px 15px 0 10px;
  text-decoration: none; }

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 3s linear infinite;
  animation: progress-bar-stripes 3s linear infinite; }

.bg-dark {
  background-color: #222222 !important; }

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 0.5rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 0rem; }

a {
  font-family: 'Ubuntu', sans-serif; }

a:active {
  color: white;
  text-decoration: none; }

a:link {
  color: white;
  text-decoration: none; }

a:visited {
  color: white;
  text-decoration: none; }

a:hover {
  color: #64D640 !important;
  text-decoration: none !important; }

h1 {
  color: #ffffff;
  font-family: 'Francois One', sans-serif; }

h2 {
  font-family: 'Francois One', sans-serif; }

p {
  color: #b2b2b2;
  font-family: 'Ubuntu', sans-serif; }

ul {
  list-style-type: none; }

li {
  display: inline; }

i {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif; }

.body-color {
  background-color: #1b1b1b; }

.h2-color {
  color: #ffffff; }

.fixed-header {
  position: fixed; }

.header-footer {
  background-color: #2c2c2c;
  width: 100%;
  border-style: solid;
  border-color: #202020;
  z-index: 1; }

.nav-boxes {
  display: inline-block;
  height: 20px;
  width: 60px;
  margin: 10px 10px 10px 10px; }

.main-title {
  text-align: center;
  font-size: 60px; }

.container-padding {
  padding: 50px 0px 50px 0px; }

.logo-container {
  max-width: 330px; }

.logo-font-j {
  font-size: 150px;
  font-family: 'Source Code Pro', monospace;
  color: #64D640;
  text-align: center;
  position: relative;
  top: 170px;
  left: -25px;
  margin: 0px 0px -100px 0px;
  font-weight: bold; }

.logo-font-h {
  font-size: 116px;
  font-family: 'Source Code Pro', monospace;
  color: #64D640;
  text-align: center;
  position: relative;
  top: 110px;
  left: 15px;
  margin: 0px 0px -100px 0px;
  font-weight: bold; }

.logo-ring {
  border: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #64D640;
  width: 290px;
  height: 290px;
  line-height: 290px;
  text-align: center !important; }

.footer-stretch {
  display: inline-block;
  height: 150px; }

.align-center {
  text-align: center; }

.footer-font {
  color: #64D640; }

.about-me-wrapper {
  background-color: #3a3a3a; }

.skills-flex {
  text-align: center;
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 60px;
  width: 25%;
  height: 3em; }

.skill-name-font {
  font-size: 24px; }

.skill-background1 {
  background-color: #7a7a7a; }

.skill-background2 {
  background-color: #525252; }

.portfolio-wrapper {
  background-color: #3a3a3a; }

.current-projects-wrapper {
  background-color: #005000; }

.download-button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%; }

.message-box-outer {
  background-color: #838383;
  border: solid;
  border-color: #838383;
  border-radius: 5px;
  padding: 20px 0px 20px 0px; }

.message-box-inner {
  background-color: #535353;
  border: solid;
  border-color: #535353;
  border-radius: 5px;
  margin: auto;
  width: 50%; }

.form-display {
  margin: 5px; }

.main-title-animation {
  animation: title 3s linear infinite; }

.skills-animation1:hover {
  animation: skills1 4s linear infinite; }

.skills-animation2:hover {
  animation: skills2 4s linear infinite; }

.skill-text h2 {
  opacity: 0;
  transition: 0.75s; }

.skill-text:hover h2 {
  opacity: 1; }

@keyframes skills1 {
  0% {
    background-color: #7a7a7a; }
  25% {
    background-color: green; }
  50% {
    background-color: #64D640; }
  75% {
    background-color: green; }
  100% {
    background-color: #7a7a7a; } }
@keyframes skills2 {
  0% {
    background-color: #525252; }
  25% {
    background-color: green; }
  50% {
    background-color: #64D640; }
  75% {
    background-color: green; }
  100% {
    background-color: #525252; } }

/*# sourceMappingURL=main.css.map */
