// font-family: 'Francois One', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Source Code Pro', monospace;

<<<<<<< HEAD
// @import 'nav';
// @import 'flexbox';
// @import 'images';
// @import 'responsive';

* {
  font-family: 'Ubuntu', sans-serif;
  color:white;
  background-color: #222020
}

h1 {
  font-family: 'Francois One', sans-serif;
  color: green;
}

a:link {
  color: green;
}

a:active {
  color: greenyellow;
}

a:visited{
  color: green;
}

a:hover{
  color: greenyellow;
=======
// Stops Navbar from cutting off top of the page
a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

// Align navbar properly with page
.ul-move ul {
  padding: 0px 15px 0 10px;
  text-decoration: none;
  }

// Modified bootstrap elements
.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 3s linear infinite;
  animation: progress-bar-stripes 3s linear infinite;
}
.bg-dark {
  background-color: #222222 !important;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 0.5rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 0rem;
}

// Globally Modified HTML Elements
a{
  font-family: 'Ubuntu', sans-serif;
}
a:active{
  color: white;
  text-decoration:none;
}
a:link{
  color: white;
  text-decoration:none;
}
a:visited{
  color: white;
  text-decoration:none;
}
  // Without the '!important' tags the nav hyperlinks wont stop going blue instead of green
a:hover{
  color: #64D640 !important;
  text-decoration: none !important;
}
h1 {
  color:#ffffff;
  font-family: 'Francois One', sans-serif;
}
h2{
  font-family: 'Francois One', sans-serif;
}
p {
  color: #b2b2b2;
  font-family: 'Ubuntu', sans-serif;
>>>>>>> single-page-layout
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
i {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}
.body-color{
  background-color: #1b1b1b;
}

// Title, Logo, Header and Footer

  // Normally this should just be 'h2{...}', but it was being un-cooperative for some reason, so this had to be done
.h2-color{
  color: #ffffff;
}
.fixed-header{
  position:fixed;
}
.header-footer{
  background-color:#2c2c2c;
  width: 100%;
  border-style:solid;
  border-color:#202020;
  z-index: 1;
}
.nav-boxes{
  display: inline-block;
  height: 20px;
  width: 60px;
  margin: 10px 10px 10px 10px;
}
.main-title{
  text-align:center;
  font-size: 60px;
}
.container-padding{
  padding: 50px 0px 50px 0px;
}
.logo-container{
  max-width: 330px;
}
.logo-font-j{
  font-size: 150px;
  font-family: 'Source Code Pro', monospace;
  color: #64D640;
  text-align: center;
  position: relative;
  top: 170px;
  left: -25px;
  margin: 0px 0px -100px 0px;
  font-weight: bold;
}
.logo-font-h{
  font-size: 116px;
  font-family: 'Source Code Pro', monospace;
  color: #64D640;
  text-align: center;
  position: relative;
  top: 110px;
  left: 15px;
  margin: 0px 0px -100px 0px;
  font-weight: bold;
}
<<<<<<< HEAD

<<<<<<< HEAD
.main-title {
  animation: animate 5s linear infinite;
=======
=======
>>>>>>> single-page-layout
.logo-ring{
  border: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #64D640;
  width: 290px;
  height: 290px;
  line-height:290px;
  text-align: center !important;
>>>>>>> single-page-layout
}
.footer-stretch{
  display: inline-block;
  height: 150px;
}
.align-center{
  text-align: center;
}
.footer-font{
  color:#64D640;
}

// About Me Section
.about-me-wrapper{
  background-color:#3a3a3a;
}

// Skills Section
.skills-flex{
  text-align: center;
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: center;
  font-size:60px;
  width: 25%;
  height: 3em;
}
.skill-name-font{
  font-size: 24px;
}
.skill-background1{
  background-color:#7a7a7a;
}
.skill-background2{
  background-color:#525252;
}

// Porfolio Section
.portfolio-wrapper{
  background-color:#3a3a3a;
}
.current-projects-wrapper{
  background-color:rgb(0, 80, 0);
}

// Contact Section
.download-button{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.message-box-outer{
  background-color:#838383;
  border: solid;
  border-color: #838383;
  border-radius: 5px;
  padding: 20px 0px 20px 0px;
}
.message-box-inner{
  background-color:#535353;
  border: solid;
  border-color: #535353;
  border-radius: 5px;
  margin:auto;
  width:50%;
}
.form-display{
  margin: 5px;
}

// Animations
.main-title-animation {
  animation: title 3s linear infinite;
}
.skills-animation1:hover{
  animation: skills1 4s linear infinite;
}
.skills-animation2:hover{
  animation: skills2 4s linear infinite;
}
.skill-text h2{
  opacity: 0;
  transition: 0.75s;
}
.skill-text:hover h2{
  opacity: 1;
}


// Keyframes for animations
<<<<<<< HEAD
@keyframes title{
    25% {
        color: green;
      }
      
      50% {
        color: greenyellow;
      } 

      100% {
        color: green;
      }
}
=======
// @keyframes title{
//     25% {
//         color: green;
//       }
//       50% {
//         color: greenyellow;
//       } 
//       75% {
//         color: green;
//       }
//       100% {
//         color: black;
//       }
// }
>>>>>>> single-page-layout
@keyframes skills1{
  0% {
    background-color: #7a7a7a;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: #64D640;
  } 
  75% {
    background-color: green;
  }
  100%{
    background-color: #7a7a7a;
  }
}
@keyframes skills2{
  0%{
    background-color: #525252;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: #64D640;
  } 
  75%{
    background-color: green;
  }
  100% {
    background-color: #525252;
  }
}