// font-family: 'Francois One', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Source Code Pro', monospace;

// @import 'nav';
// @import 'flexbox';
// @import 'images';
// @import 'responsive';

* {
  font-family: 'Ubuntu', sans-serif;
  color:white;
  background-color: #222020
}

h1 {
  font-family: 'Francois One', sans-serif;
  color: green;
}

a:link {
  color: green;
}

a:active {
  color: greenyellow;
}

a:visited{
  color: green;
}

a:hover{
  color: greenyellow;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.main-title {
  animation: animate 5s linear infinite;
}

@keyframes animate{
    25% {
        color: green;
      }
      
      50% {
        color: greenyellow;
      } 

      100% {
        color: green;
      }
}